@font-face {
  font-family: "iconfont"; /* Project id 4468401 */
  src: url('iconfont.woff2?t=1711958757007') format('woff2'),
       url('iconfont.woff?t=1711958757007') format('woff'),
       url('iconfont.ttf?t=1711958757007') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youxiangyanzhengma:before {
  content: "\e66a";
}

.icon-yonghuming:before {
  content: "\e627";
}

.icon-checkcode_email:before {
  content: "\e624";
}

.icon-email:before {
  content: "\e908";
}

.icon-password:before {
  content: "\e64c";
}

.icon-checkcode_number:before {
  content: "\e614";
}

